*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  /* margin: 0 10rem; */
}


.country__img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country__data {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country__name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}


.country__row:not(:last-child) {
  margin-bottom: 1rem;
}

.country__row img {
  width: 32px;
  height: 30px;
  display: inline-block;
  margin-right: 2rem;
  font-size: 2.4rem;
}
.chart {
  margin-top: 10%;
  margin-left: 5%; 
  height: fit-content;
  background-color: black;
  width: 1000px;
}